@import 'tailwindcss';
@plugin 'daisyui';

/* Light mode theme */
@plugin "daisyui/theme" {
	name: 'Knottingham';
	default: true;
	prefersdark: false;
	color-scheme: 'light';

	--color-base-100: oklch(98% 0.001 106.423);
	--color-base-200: oklch(97% 0.001 106.424);
	--color-base-300: oklch(92% 0.003 48.717);
	--color-base-content: oklch(38% 0.063 188.416);
	--color-primary: oklch(84% 0.238 128.85);
	--color-primary-content: oklch(38% 0.063 188.416);
	--color-secondary: oklch(54% 0.281 293.009);
	--color-secondary-content: oklch(97% 0.013 17.38);
	--color-accent: oklch(64% 0.222 41.116);
	--color-accent-content: oklch(98% 0.016 73.684);
	--color-neutral: oklch(38% 0.063 188.416);
	--color-neutral-content: oklch(98% 0.014 180.72);
	--color-info: oklch(68% 0.169 237.323);
	--color-info-content: oklch(97% 0.013 236.62);
	--color-success: oklch(62% 0.194 149.214);
	--color-success-content: oklch(98% 0.031 120.757);
	--color-warning: oklch(79% 0.184 86.047);
	--color-warning-content: oklch(28% 0.066 53.813);
	--color-error: oklch(58% 0.253 17.585);
	--color-error-content: oklch(96% 0.015 12.422);
	--radius-selector: 2rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: 'Nottingham Dark';
	default: false;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(21% 0.006 56.043);
	--color-base-200: oklch(26% 0.007 34.298);
	--color-base-300: oklch(37% 0.01 67.558);
	--color-base-content: oklch(96% 0.001 286.375);
	--color-primary: oklch(84% 0.238 128.85);
	--color-primary-content: oklch(27% 0.072 132.109);
	--color-secondary: oklch(55% 0.288 302.321);
	--color-secondary-content: oklch(97% 0.014 308.299);
	--color-accent: oklch(64% 0.222 41.116);
	--color-accent-content: oklch(97% 0.013 17.38);
	--color-neutral: oklch(55% 0.013 58.071);
	--color-neutral-content: oklch(98% 0.001 106.423);
	--color-info: oklch(78% 0.154 211.53);
	--color-info-content: oklch(30% 0.056 229.695);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(26% 0.051 172.552);
	--color-warning: oklch(85% 0.199 91.936);
	--color-warning-content: oklch(28% 0.066 53.813);
	--color-error: oklch(70% 0.191 22.216);
	--color-error-content: oklch(25% 0.092 26.042);
	--radius-selector: 2rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 1;
}

.bg-base-400 {
	@apply bg-neutral-400;
}
